/* Bright Red: #DE354C

Deep Red: #932432

Pure Purple: #3C1874

Purple Tinged Grey: #283747

Cloud: #F3F3F3 */

.header {
  background-color: #283747;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1440px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #de354c;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.headerSearch {
  height: 50px;
  background-color: white;
  border: 3px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1440px;
  padding: 40px 0;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}
/* Bright Red: #DE354C

Deep Red: #932432

Pure Purple: #3C1874

Purple Tinged Grey: #283747

Cloud: #F3F3F3 */
.optionCounterButton {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 40px;
  height: 40px;
  color: #de354c;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.headerSearchItem input {
  color: black;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 72px 0 0 0;
    background-color: white;
  }
  .headerTitle,
  .headerDesc,
  .headerList,
  .headerBtn {
    display: none;
  }

  .headerSearchItem .headerBtn {
    display: block;
    width: 100%;
  }

  .headerSearch {
    margin: 50px 0 0 0;
    flex-direction: column;
    gap: 10px;
    position: static;
    height: max-content;
    background-color: #f3f3f3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2px 0;
  }
  .headerSearchItem {
    padding: 10px;
    flex-direction: row;

    width: min(98%, 420px);
    background-color: white;
  }

  .smSearchBtnItem {
    padding: 0;
  }

  .headerContainer {
    width: min(99%, 420px);
    margin: 0;
  }

  .dateRangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }
  .date {
    top: 220px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .closeBtn {
    z-index: 100;
    position: absolute;
    color: #de354c;
    top: 610px;
    font-size: 45px;
  }

  .optionsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .optionsWrapper .closeBtn {
    color: #de354c;

    top: 392px;
  }
  .options {
    top: 220px;
  }
}

@media only screen and (min-width: 768px) {
  .dateRangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }
  .date {
    top: 370px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .closeBtn {
    z-index: 100;
    position: absolute;
    color: #de354c;

    top: 750px;
    font-size: 45px;
  }

  .optionsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .optionsWrapper .closeBtn {
    color: #de354c;

    top: 540px;
  }
  .options {
    top: 370px;
  }
}
