/* Bright Red: #DE354C

Deep Red: #932432

Pure Purple: #3C1874

Purple Tinged Grey: #283747

Cloud: #F3F3F3 */

.navbar {
  height: 50px;
  background-color: #283747;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1440px;
  color: #de354c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 30px;
  color: #f3f3f3;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  background-color: #de354c;
  color: white;
  border-radius: 10px;
}

.headerBtn {
  background-color: #de354c;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
